html, body{
    margin: 0;
    padding: 0;
    font-family:Helvetica, sans-serif;
}

header{
    font-size: larger;
    position: relative;
    background: linear-gradient(to right, rgb(188, 0, 0), rgb(255, 255, 255));
    height: 70px;
}

.Phone>a{
    position: absolute;
    color: rgb(0, 0, 129);
    text-decoration: none;
    background-color: rgb(231, 0, 0);
    border: 3px solid rgb(0, 0, 129);
    border-radius: 10px;
    font-weight: bold;
    padding: 7px;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.Phone>a:hover{
    color: white;
    background-color: rgb(0, 0, 129);
    border: 3px solid white;
}

.Phone>a:active{
    color: rgb(0, 0, 129);
    background-color: white;
    border: 3px solid rgb(0, 0, 129);
}

.HeaderTitle{ 
    color: rgb(0, 0, 129);
    position: absolute;
    margin-top: 0;
    padding: 10px;
    text-align: left;
    display: inline;
    top: 50%;
    transform: translateY(-50%);
}

.container{
    height: 600px;
    max-width: 80%;
    margin: auto;
}

.locationIcon{
    height: 30px;
}

.location{
    display: inline-block;
    color: white;
    transform: translateY(-35%);
}

.locationContainer{
    text-align: center;
    padding-top: 15px;
}

.cartao{
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
}

.cartao:hover{
    box-shadow: 3px 3px 30px 10px gray;
}

.galery>img{
    height: 200px;
    width: 200px;
    margin: 10px;
}

footer{
    background-color: rgb(0, 0, 129);
}


